---
layout: blog
---

<section class="post">
  <div class="back">
    <a href="/blog">&larr; Back</a>
  </div>


  <h1 class="title">
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <div class="twitter">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Tweet</a>
    <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
  </div>

  <section class="meta">
    <section class="copy">
      <p>
        Some boring lines about the writer: <br>
      </p>
      <p>
        Knows a bit of PHP, JS, Py. Prefers Py. <a href='http://news.ycombinator.com' target='_blank'>HN</a> addict. Watches cricket.
      </p>
      <p>
        Follow him on <a href='http://twitter.com/sukeeshbabu'>twitter</a>. He doesn't tweet a lot. Bummer, right?
      </p>

      <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    </section>
  </section>
</section>
