---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }} 
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
   <!-- Place this tag where you want the button to render. -->
  <a class="github-button" href="https://github.com/sukeesh" data-size="large" data-show-count="true" aria-label="Follow @sukeesh on GitHub">Follow @sukeesh</a>
  <a href="https://twitter.com/sukeeshbabu?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @sukeeshbabu</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <br> <br>
  
  {% include amazon_top.html %}

  {{ content }}

  {% include amazon_bottom.html %}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

<div class="disqus">
  {% include disqus.html %}
</div>