{%  include head.html %}

<link rel="stylesheet" href="/slick.js/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/slick.js/slick.min.js"></script>
<script src="/slick.js/screenfull.js"></script>

<body class="blog">
	<div class="pure-g-r">
		<div class="pure-u-1-2 content">
			{% include nav.html %}

			<div class="back" style="margin-bottom: 50px;">
				<a href="/blog">&larr; Back</a>
			</div>

			<div class="slick" >

				<!-- This will containt the images -->
				<div class="slick-content">
				</div>
				
				<!-- Part of default theme. slick.js doesn't ask for it -->
				<div class="overlay-controls">
					<a href="#" class='overlay-prev'></a>
					<a href="#" class='overlay-next'></a>
				</div>
				
				
				<!-- This contains the controls -->
				<div class="slick-bottom">
					<!-- If it's there, it's width will be set to percentage completed -->
					<div class="length"></div>

					<div class="slick-no">
						<div>
							<input type="text" class="current-no skip">/<span class="total"></span>
						</div>
						<div>
							<img src="/images/slick/fullscreen.png" alt="" class="fullscr">
						</div>
					</div>
					<div class="slick-controls">
						<a href="#" class="prev"><img src="/images/slick/backward.png" alt=""></a>
						<a href="#" class="next"><img src="/images/slick/forward.png" alt=""></a>
					</div>
				</div>

			</div>

			<script>
				config = {
					source: '/images/slick/slide/slick-*.jpg',
					start: 0,
					end: 6,
				};

				slick = new Slick('.slick', config);

				$('.overlay-next').click(function(){
					Slick.next(slick);
				})
				$('.overlay-prev').click(function(){
					Slick.prev(slick);
				})
				
				$('.fullscr').click(function () {
					if (screenfull.enabled) {
						screenfull.toggle($('.slick')[0]);
						if(!$('.slick.fullscreen').exists()){
							// Needed because of a Chrome quirk. 
							setTimeout(function(){
								if($(window).width() > $(window).height()){
									$('.slick').addClass('fullscreen-width');
								}
								else{
									$('.slick').addClass('fullscreen-height');
								}
								$('.slick .slick-bottom').width($('.slick-content img.current').width()).css('margin', 'auto');
							}, 150);
						}
					}
				});
				screenfull.onchange = function(){
					// Undoing changes done through setTimeout above
					if(!screenfull.isFullscreen){
						$('.slick .slick-bottom').width('inherit').css('margin', 'auto');
						$('.slick').removeClass('fullscreen-width');
						$('.slick').removeClass('fullscreen-height');
					};		
				}
			</script>

			<section class="post">
					
				{{ content }}
				
				<div class="twitter">
					<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Tweet</a>
					<a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
				</div>
					
				<section class="meta">
					<h3>Discussion</h3>

					<section class="copy">
						<div class="pure-g">
							<div class="pure-u-1-8" style="box-sizing: border-box; padding: 5px 10px 5px 0px">
								<a href="https://twitter.com/{{ site.twitter }}" target="_blank">
									<img src="{{ site.gravatar_url }}?s=160" />
								</a>
							</div>
							<div class="pure-u-7-8">
								<p style="margin-top: 0px;">
									I'm a sleep deprived 3rd year Electronics &amp; Communication Undergrad at <a href="http://www.iitr.ac.in">IIT Roorkee</a> in the morning, wide awake squash player in the evening, batman till sunrise.
									<br>
									You might want to follow me on twitter. I promise I won't hijack your timeline, I don't tweet too frequently!
								</p>
							</div>
						</div>

						<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>

					</section>
				</section>
			</section>

		</div>
	</div>
	
	{% include footer.html %}

</body>
